* {
  font-size: large;
}

.header {
  background-color:rgb(240,240,240,.9);
}

body {
  background-color: rgb(237, 238, 187);
}



h5 {
  font-size: x-large;
  padding-bottom: 10px;
  padding-top: 30px;
  text-align: justify;
  font-weight: bold;
  background-color:  rgb(240,240,240,.2);
}

p {
  text-align: justify;
}

.container {
  background-color: rgb(240,240,240,.9);
  border-radius: 15px;
  padding: 30px;
  padding-bottom: 25px;
}

.img {
  max-width: 60%;
  border-radius: 15px;
  border: 1px solid;
}

.btn {
  background-color:rgb(237, 238, 187);
  border-radius: 15px;
  font-weight: bold;
  font-size: large;
  color: black;
  padding: 10px;
  margin: 10px;
}

.input {
  border-radius: 15px;
}
